@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;

}

/* Hero Section */
.hero-section {
    background-color: #1F2937;
    padding-bottom: 20px;
}

.container {
    margin-inline: 15%;
}

.navbar {
    display: flex;
    padding-block: 24px;
    justify-content: space-between;
    align-items: center;
}

.navbar span {
    color: #F9FAF8;
    font-size: 24px;
}

.navbar ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

.navbar ul a {
    text-decoration: none;
}

.hero-main .context p,
.navbar ul a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-block: 75px;
}

.hero-main .context h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-main .context p {
    margin-block: 8px;
}

.hero-main .context button {
    background-color: #3882F6;
    padding: 8px 28px;
    border-radius: 12px;
    color: #E5E7EB;
    border: none;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

img {
    height: 300px;
    border-radius: 12px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.2);
}

/* Info Section */
.info {
    padding-block: 48px;
}

.info h2 {
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}

.info .card-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    margin-block: 52px;
}

.card-container .card {
    flex: 0 150px;
    text-align: center;
    color: #4d4d4d;
}

.card .box {
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 12px;
}

/* Quote Section */
.quote {
    background-color: #E5E7EB;
    padding-block: 60px;
    padding-inline: 48px;
    font-size: 36px;
    color: #1F2937;
}
.quote p {
    font-weight: 300;
    font-style: italic;

}
.quote span {
    display: block;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}
/* Call To Action Section */
.call-to-action {
    padding-block: 80px;
}
.call-to-action .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    color: white;
    padding: 32px;
    border-radius: 12px;
}
.call-to-action h4 {
    font-size: 28px;
}
.call-to-action button {
    padding: 8px 24px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px;
}